{% extends "layout.html" %}
{% load static %}
{% block title %}Vote{% endblock title %}
{% block body %}
<h1>{{ voting.header }}</h1>
<h3>{{ voting.description }}</h3>
<div class="choise">
  {% if voted != True %}
  <form method="POST" class="choise">
    {% csrf_token %}
    <input type="submit" value="yes" name="vote" class="choise choise-yes"/>
    <input type="submit" value="no" name="vote" class="choise choise-no" />
    <input type="text " value="{{ voting.id }}" name="id" hidden/>
    
  </form>
  {% else %}
  <p>
    You Have Voted!!! 
  </p>
  {% endif %}
  
</div>
{% endblock body %}
