<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register Please!</h1>
    <form action="#">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <label for="password">Confirm Password</label>
      <input type="password" name="confirm" id="confirm" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
